@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Comfortaa:300,700|Overpass:400,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #0D0D0D;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  font-family: 'Comfortaa', sans-serif;
  height: 90px;
  width: 100vw;
  letter-spacing: 0.1em;
  user-select: none;
}

#inner-nav {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px;
}

#title {
  width: 150px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
#title-center {
  width: 170px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  margin: 40px auto 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 300;
  font-size: 11px;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li {
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  line-height: 100px;
  /* background: red; */
}

li a:hover {
  color: #FFD750;
}

#tiles {
  width: 940px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tiles img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}

#guide-tile {
  cursor: pointer;
  position: relative;
  width: 450px;
  height: 600px;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.6)), url('imgs/boneguidebg.jpg') 10% 50%;
  background-size: 160%;
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 1s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1);
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px #ffffff inset;
}
#guide-tile:hover {
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.03);
  box-shadow: 0px 0px 0px 2px #ffffff inset;
}

#wiki-tile {
  cursor: pointer;
  position: relative;
  width: 450px;
  height: 600px;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)), url('imgs/wikibg.jpg') 50% 0%;
  background-size: 160%;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1);
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px #FFD750 inset;
}
#wiki-tile:hover {
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), box-shadow 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.03);
  box-shadow: 0px 0px 0px 2px #FFD750 inset;
}

main {
  width: 1100px;
  margin: 0 auto;
  padding: 10px 0;
  display: relative;
  /* overflow: hidden; */
}

main a {
  text-decoration: none;
}

#tip {
  margin: 0 auto;
  width: 1100px;
  padding: 15px 0 0 0;
  font-family: 'Overpass', sans-serif;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
}

.nav-tile {
  color: #FFD750;
  font-size: 20px;
  letter-spacing: 0.2em;
  width: 100%;
  margin: 20px 0;
  height: 130px;
  line-height: 130px;
  background: darkgrey;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  transition: transform 0.1s cubic-bezier(0, 0.55, 0.45, 1), box-shadow 0.6s cubic-bezier(0, 0.55, 0.45, 1), color 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  transform: scale(1);
  box-shadow: 0px 0px 0px 0px #ffffff inset;
  cursor: pointer;
}

.entity {
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url('https://vignette.wikia.nocookie.net/boneworks/images/6/62/Nullboyes.png') 0% 30%;
}
.gun {
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url('https://vignette.wikia.nocookie.net/boneworks/images/c/c4/M16_variants.png') 0% 30%;
}
.melee {
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url('https://vignette.wikia.nocookie.net/boneworks/images/5/58/Spiked_club.png') 0% 30%;
}
.prop {
  background: linear-gradient(0deg, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url('https://vignette.wikia.nocookie.net/boneworks/images/e/e7/Crate.PNG') 0% 15%;
}

.nav-tile:hover {
  transition: transform 0.1s cubic-bezier(0, 0.55, 0.45, 1), box-shadow 0.2s cubic-bezier(0, 0.55, 0.45, 1), color 0.2s cubic-bezier(0, 0.55, 0.45, 1);
  /* border: 20px solid #FFD750; */
  box-shadow: 0px 0px 0px 2px #ffffff inset;
  transform: scale(1.02);
  color: #ffffff;
}

/* INFO TILE CSS */

.info-tile {
  position: relative;
  box-sizing: border-box;
  color: #FFD750;
  font-size: 18px;
  width: 100%;
  margin: 20px 0;
  height: 180px;
  background: #121212;
  cursor: pointer;
  overflow: hidden;
  user-select: none;

  border: 0;
  transition: transform 0.1s cubic-bezier(0, 0.55, 0.45, 1), border-left 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  transform: scale(1);
  border-left: 0;
}

.info-tile:hover {
  transition: transform 0.1s cubic-bezier(0, 0.55, 0.45, 1), border-left 0.2s cubic-bezier(0, 0.55, 0.45, 1);
  transform: scale(1.02);
  border-left: solid 2px #FFD750
}

.info {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.info-name {
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.2em;
  z-index: 5;
}

.info-paragraph {
  position: relative;
  font-family: 'Overpass', sans-serif;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.05em;
  width: 600px;
  margin: 10px 0;
  z-index: 5;
  line-height: 24px;
}

.info-location {
  letter-spacing: 0.2em;
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 30px;
  top: 30px;
}


.identity {
  left: 0;
  top: 0;
  position: relative;
  height: 100%;
  width: 250px;
  overflow: hidden;
}
.cover-identity {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, rgba(18, 18, 18, 0) 32.85%, #121212 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.img-identity {
  height: auto;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
}

.location {
  right: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 350px;
  overflow: hidden;
}
.cover-location {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(90deg, #121212 12%, rgba(18, 18, 18, 0) 64.93%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}
.img-location {
  height: auto;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.8);
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #121212;
  width: 850px;
  height: 550px;
  border: 2px solid rgba(255, 215, 80, 0.2);
  box-sizing: border-box;
  padding: 40px 30px;
}

.modal-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #FFD750;
}
.modal-desc {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin: 20px 0;
  width: 540px;
  line-height: 24px;
}

#closemodal {
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer;
}

#modal-images {
  position: absolute;
  width: calc(100% - 60px);
  height: 300px;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#modal-images div {
  width: calc((100% / 3) - 20px);
  height: 100%;
}

#load {
  /* display: none; */
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #0D0D0D;
  opacity: 1;
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
#load img {
  width: 250px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) translate(-50%, -50%);
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) translate(-50%, -50%);
    transform: translate3d(0, -30px, 0) translate(-50%, -50%);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) translate(-50%, -50%);
    transform: translate3d(0, -15px, 0) translate(-50%, -50%);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) translate(-50%, -50%);
    transform: translate3d(0, -4px, 0) translate(-50%, -50%);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) translate(-50%, -50%);
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) translate(-50%, -50%);
    transform: translate3d(0, -30px, 0) translate(-50%, -50%);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) translate(-50%, -50%);
    transform: translate3d(0, -15px, 0) translate(-50%, -50%);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) translate(-50%, -50%);
    transform: translate3d(0, -4px, 0) translate(-50%, -50%);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* SCROLLBAR CSS */

::-webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:#121212;border-radius:50px}::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.3);border-radius:50px}
